div#bubble
  form(id='browseForm', method='GET', action='/browse/')
    | Browse
    input(name='blogId', type='text', size=40, value=blogId)
    input(type='submit')
script
  $('#browseForm').submit(function() {
    document.location.href = '/browse/' + encodeURIComponent($('#browseForm input[name=blogId]').val());
    return false;
  });
p
if blog
  each post in blog.posts
    each photo in post.photos
      each alt_size in photo.alt_sizes
        if alt_size.width == 400
          div#bubble
            if post.link_url
              a(href=post.link_url, target="_blank")
                img(src=alt_size.url)
            else
              img(src=alt_size.url)
            div!= post.caption
            hr
            a(href=post.post_url, target="_blank") Post
            if post.reblogged_from_id && post.reblogged_from_name != post.reblogged_root_name
              |  | From:&nbsp;
              a(href='/browse/'+post.reblogged_from_name, target="_blank")= post.reblogged_from_name
            if post.reblogged_root_url
              |  | Source:&nbsp;
              a(href='/browse/'+post.reblogged_root_name, target="_blank")= post.reblogged_root_name
          p
  div#bubble
    - var capped_offset = Math.min(Math.max(offset, 0), blog.total_posts)
    - var prev = Math.max(capped_offset-20,0)
    if offset > 0
      a(href='/browse/'+blogId+'?offset='+prev)
        | &lt;&lt; previous
    - var next = capped_offset+20
      if (next < blog.total_posts)
        if offset > 0
          | &nbsp;|&nbsp;
        a(href='/browse/'+blogId+'?offset='+next) next >>
