h2= title
if blog
  each post in blog.posts
    .panel.panel-default
      .panel-body
        each photo in post.photos
          - var best_size;
          - for (var p in photo.alt_sizes) {
          -   if (photo.alt_sizes[p].width <= 500) {
          -     best_size = photo.alt_sizes[p];
          -     break;
          -   }
          - }
          a(href=photo.original_size.url, title="click to enlarge")
            img(src=best_size.url)
      if typeof post.caption != 'undefined' && post.caption != ''
        .panel-body
          .panel-title!= post.caption
      .panel-footer
        a(href=post.post_url) Post
        if post.reblogged_from_id && post.reblogged_from_name != post.reblogged_root_name
          |  | From: 
          a(href='/browse/'+post.reblogged_from_name)= post.reblogged_from_name
        if post.reblogged_root_url
          |  | Source: 
          a(href='/browse/'+post.reblogged_root_name)= post.reblogged_root_name
        if post.link_url
          |  | 
          a(href=post.link_url) Link
    
  ul.pagination
    - var capped_offset = Math.min(Math.max(offset, 0), blog.total_posts)
    - var prev = Math.max(capped_offset-20,0)
    - var next = capped_offset+20
    if offset > 0
      li 
        a(href='/browse/'+blogId+'?offset='+prev) &laquo;
    if (next < blog.total_posts)
      li 
        a(href='/browse/'+blogId+'?offset='+next) &raquo;
