link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js')
script(src='http://platform.tumblr.com/v1/share.js')
script(src='/socket.io/socket.io.js')
script
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
script
  var socket = io.connect('#{host}');
  $(document).ready(function() {
      $('#progressbar').progressbar({value: 0});
      $('button#download').hide();
  });
  function getLikes(button) {
    $(button).hide();
    var num_photos = photos_received = 0;
    $('#progressbar').progressbar("option", "value", 0);
    socket.emit('get_likes');
    socket.on('progress', function(progress) {
      console.log(progress);
      $('#progressbar').progressbar("option", "value", progress);
    });
    socket.on('status', function(status) {
      console.log(status);
      $('#status').html(status);
    });
    socket.on('download', function(download) {
      console.log(download);
      $('button#download').click(function() {
        document.location.href = download;
      }).show();
    });
    socket.on('done', function() {
      socket.removeAllListeners('progress');
      socket.removeAllListeners('status');
    }); 

    return false;
  }
  function logout() {
    document.location.href = '/logout';
  }
div#container
  div#user
    a#user_avatar(href="#{everyauth.tumblr.user.url}",
      target="_blank", 
      style="background-image:url('#{avatar}')") 
    a#user_name(href="#{everyauth.tumblr.user.url}", target="_blank")= everyauth.tumblr.user.title
    a#user_url(href="#{everyauth.tumblr.user.url}", target="_blank")= everyauth.tumblr.user.url
  div#bubble
    div#nipple
    div#info.text
      | You've got <strong>#{info.user.likes}</strong> likes.
      if info.user.likes > limit
        p 
          | <strong>There's a limit of #{limit} likes, so you won't be able to download them all. We're sorry!</strong>
    div#progressbar.sized
    div#status.text.strong
      | &nbsp;
    div#buttons
      button#download.chrome.green(style='float:right')
        div.chrome_button
          div.chrome_button_left
          | Download ZIPFILE
          div.chrome_button_right
      button.chrome.green(onclick='return getLikes(this)', style='float:right')
        div.chrome_button
          div.chrome_button_left
          | Get'em all!
          div.chrome_button_right
      button.chrome(onclick='return logout();')
        div.chrome_button
          div.chrome_button_left
          | Logout
          div.chrome_button_right

  hr(noshade, size=1)
  div(style='float:right;').
    <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://tumblikes.x-berg.de:8888"></a>
    <noscript><a href="http://flattr.com/thing/722104/tumblikes" target="_blank">
    <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>  
  span#tumblr_button_abc123
      
script
  var tumblr_link_url = "#{host}";
  var tumblr_link_name = "tumblikes";
  var tumblr_link_description = "Download all photos you liked on tumblr";
script
  var tumblr_button = document.createElement("a");
  tumblr_button.setAttribute("href", "http://www.tumblr.com/share/link?url=" + encodeURIComponent(tumblr_link_url) + "&name=" + encodeURIComponent(tumblr_link_name) + "&description=" + encodeURIComponent(tumblr_link_description));
  tumblr_button.setAttribute("title", "Share on Tumblr");
  tumblr_button.setAttribute("style", "display:inline-block; text-indent:-9999px; overflow:hidden; width:129px; height:20px; background:url('http://platform.tumblr.com/v1/share_3.png') top left no-repeat transparent;");
  tumblr_button.innerHTML = "Share on Tumblr";
  document.getElementById("tumblr_button_abc123").appendChild(tumblr_button);